body {
    background-image: url('https://wallpapercave.com/wp/wp6897742.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
  }
  
header
  {
    background-color: rgb(47, 55, 158);
    color: white;
    height: 70px;
    padding: 10px;
  }

  footer {
    background-color: rgb(77, 86, 209);
    color: white;
    height: 50px;
    padding: 10px;
    text-align-last: center;
  }

.mainpage 
  {
      width: 1024px; 
      margin: 0 auto;
  }

.headname1 
 {
    color: rgb(231, 201, 103);
    font-size: 30px;
  }
    
.headname2
  {
    color: #ffffff;
  }